:root {
  --primary-50: 2254 245 238;
  --primary-100: 253 233 215;
  --primary-200: 250 206 174;
  --primary-300: 246 172 123;
  --primary-400: 241 127 70;
  --primary-500: 237 91 30;
  --primary-600: 223 69 23;
  --primary-700: 185 50 21;
  --primary-800: 147 42 25;
  --primary-900: 119 37 23;
  --primary-950: 64 16 10;
  --surface-0: 255 255 255;
  --surface-50: 248 250 252;
  --surface-100: 241 245 249;
  --surface-200: 226 232 240;
  --surface-300: 203 213 225;
  --surface-400: 148 163 184;
  --surface-500: 100 116 139;
  --surface-600: 71 85 105;
  --surface-700: 45 55 72;
  --surface-800: 30 41 59;
  --surface-900: 15 23 42;
  --surface-950: 3 6 23;
}

/* --international-orange-50:  254 245 238;
--international-orange-100: 253 233 215;
--international-orange-200: 250 206 174;
--international-orange-300: 246 172 123;
--international-orange-400: 241 127 70;
--international-orange-500: 237 91 30;
--international-orange-600: 223 69 23;
--international-orange-700: 185 50 21;
--international-orange-800: 147 42 25;
--international-orange-900: 119 37 23;
--international-orange-950: 64 16 10; */

